{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | バックオフィス{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">バックオフィス</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        /* Hide all action icons (Add, Change, Delete, View) next to FK & M2M fields globally */
        .related-widget-wrapper-link,
        a.related-widget-wrapper-link,
        .related-lookup {
            display: none !important;
        }
    </style>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block welcome-msg %}
    {% translate 'Welcome,' %}
    <strong>{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}({{ user.get_username }}){% else %}{{ user.get_username }}{% endif %}さん </strong>
{% endblock %}
