{% load i18n admin_urls %}

<div class="submit-row">
{% block submit-row %}
    {% if show_apply_button %}
        <input type="submit" value="{{ apply_button_label }}" class="default" name="{{ apply_button_name }}">
    {% endif %}
    {% if show_save %}
        <input type="submit" value="{% translate 'Save' %}" name="_save">
    {% endif %}

    {% if show_save_as_new %}<input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
    {% if show_save_and_add_another %}
        <input type="submit" value="{% if save_and_add_label %}{{ save_and_add_label }}{% else %}{% translate 'Save and add another' %}{% endif %}" name="_addanother">
    {% endif %}
    {% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
    {% if show_reject_button %}
        <input type="submit" value="{% translate 'Reject' %}" name="_reject">
    {% endif %}
    {% if show_return is None %}
        {% url opts|admin_urlname:'changelist' as list_url %}
        {% if show_close %}<a href="{% add_preserved_filters list_url %}" class="closelink">{% translate "Close" %}</a>{% endif %}
    {% elif show_return %}
        {% url opts|admin_urlname:'changelist' as list_url %}
        <a href="{% add_preserved_filters list_url %}" class="closelink">{% translate "Close" %}</a>
    {% endif %}
    {% if show_delete_link and original %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a role="button" href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a>
    {% endif %}
{% endblock %}
</div>